@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.mt-12 {
  margin-top: 12px;
}

:root {
  --dual-shadow: 20px 20px 20px rgb(186 84 211 / 20%), -10px -10px 30px rgb(0 100 255 / 20%);
}

.swiper-container {
  overflow: visible !important;
  margin: 20px 0px;
}

.swiper-wrapper {
  padding: 20px 0px;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.swiper-slide {
  position: relative;
  -webkit-transition: 250ms all;
  transition: 250ms all;
  overflow: visible;
}

.swiper-slide .zoom-container {
  -webkit-transition: 150ms all;
  transition: 150ms all;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.swiper-slide .zoom-container p {
  pointer-events: none;
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.swiper-slide:hover .zoom-container {
  -webkit-box-shadow: var(--dual-shadow);
          box-shadow: var(--dual-shadow);
}

.swiper-slide:hover .zoom-container p {
  opacity: 1;
}

.swiper-slide:hover img {
  -webkit-filter: brightness(0.5) blur(3px);
          filter: brightness(0.5) blur(3px);
}

.swiper-slide:hover iframe {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.swiper-slide:hover h3 {
  opacity: 1;
}

.swiper-slide:hover .logo {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-slide img {
  position: relative;
  max-width: 100%;
  z-index: 1;
  margin-bottom: -10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.swiper-slide img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.swiper-slide iframe {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-slide h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  color: #606e7a;
  display: block;
  text-transform: capitalize;
}

.swiper-slide h4 {
  font-size: 18px;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  letter-spacing: 0px;
  text-transform: capitalize;
  font-weight: 400;
}

.swiper-slide p {
  text-align: center;
}

.swiper-pagination-bullet {
  background: #87aabb !important;
  opacity: 0.3;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -32px !important;
  z-index: 9;
}

.company-logo {
  max-width: 200px;
  max-height: 100px;
}

.invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.icon-flickr {
  color: linear-gradient(to right, #eaee44, #eaee44 50%, #33d0ff 100%);
}

.io-icon,
.si-icon,
.im-icon,
.gi-icon,
.si-icon {
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  margin: 5px 10px;
}

.io-icon:hover,
.si-icon:hover,
.im-icon:hover,
.gi-icon:hover,
.si-icon:hover {
  color: white;
}

.main-icon, .footer-icon {
  color: white;
  border-radius: 5px;
  font-size: 30px;
  padding: 5px;
  background: #59598e;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 10;
}

.main-icon:hover, .footer-icon:hover {
  background: #a4a4c6;
}

.footer-icon {
  background: none;
  display: block;
}

.photoshop-icon {
  color: #4fccfe;
}

.xd-icon {
  color: purple;
}

.ai-icon {
  color: orange;
}

.nikon-icon {
  max-width: 120px;
}

.g-red {
  color: #bb001b;
}

.li-blue {
  color: #2867b2;
}

.fb-blue {
  color: #3b5998;
}

.ig-pink {
  color: #c13584;
}

.github-purple {
  color: #6e5494;
}

.footer-icon {
  font-size: 24px;
}

.faq-body {
  text-align: center !important;
  margin-top: 2rem !important;
  padding: 10px !important;
}

.faq-row-wrapper {
  background: none !important;
}

.faq-row-wrapper .row-title {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  background: white;
}

.faq-row-wrapper .faq-title {
  border-bottom: 0px !important;
  background: none;
}

.faq-row-wrapper h2 {
  font-size: 72px !important;
  margin: 0 auto !important;
}

.faq-row-wrapper .faq-row {
  background: white;
}

.faq-row-wrapper .row-title-text {
  background: white;
  font-weight: 600;
  font-size: 24px;
  padding: 20px 10px !important;
}

.faq-row-wrapper .row-content-text {
  font-weight: 400;
  font-size: 18px;
  padding: 0px 10px 20px 10px !important;
}

::-webkit-scrollbar {
  display: none;
}

html {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: #f8fafb;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 0;
  font-family: 'Overpass';
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

h2 {
  color: #333;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-left: 10px;
  letter-spacing: 5px;
}

h3 {
  bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #333;
}

h4 {
  text-align: center;
  color: #aa87bb;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Overpass';
  opacity: 0.5 !important;
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

p {
  margin: 0;
  color: #333;
  font-family: 'Roboto';
}

.subtext {
  margin-top: 4rem;
  text-align: right;
  font-size: .80em;
  color: rgba(0, 0, 0, 0.4);
}

.subtext span {
  font-size: 12px;
}

a {
  color: white;
  text-shadow: none;
  text-decoration: none;
  background-image: none;
}

iframe {
  margin-bottom: 0px;
}

nav p {
  margin-bottom: 20px;
}

ul {
  margin-left: 0px;
}

.main-bar {
  background-size: 300% 300% !important;
  background: #136a8a;
  background: -webkit-gradient(linear, left top, right top, from(#136a8a), to(#743294));
  background: linear-gradient(to right, #136a8a, #743294);
  background-position: 0% 0%;
  color: white;
  position: relative;
  display: block;
  margin-bottom: -16px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main-bar h1 {
  color: white;
  font-weight: 700;
  margin-bottom: -0.5rem;
  text-align: left;
  text-transform: uppercase;
  display: block;
  font-size: 42px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 4px #444;
}

section, .profile-section {
  position: relative;
  background: white;
  border-radius: 5px;
  z-index: 1;
  padding: 4rem 1rem;
  min-height: 90vh;
  min-height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 3rem;
  overflow-x: hidden;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

section .section-title, .profile-section .section-title {
  position: relative;
  margin-bottom: 60px;
}

section .section-title h1, .profile-section .section-title h1 {
  text-align: center;
  margin-right: 12px;
}

section .section-title p, .profile-section .section-title p {
  opacity: 0.8;
}

section .section-title:after, .profile-section .section-title:after {
  content: "";
  width: 240px;
  position: absolute;
  height: 0px;
  bottom: 24px;
  left: -60px;
  background: #eaeaea;
}

.profile-section {
  margin-top: 0px;
  min-height: 100px;
  padding: 2rem 0rem;
  overflow: visible;
  background: none;
  margin-bottom: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-section .profile-img {
  border-radius: 50px;
  overflow: visible;
  z-index: 100;
}

.profile-section .profile-img img {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 150px;
  max-width: 100%;
  margin: 20px 20px 20px 0px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.profile-section .section-title h1, .profile-section h2, .profile-section h3, .profile-section h4, .profile-section h5 {
  text-align: left;
}

.profile-section p {
  text-align: center;
}

nav {
  display: inline;
  color: white;
}

nav ul {
  margin-bottom: 0px;
}

nav ul li {
  display: inline-block;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 120px;
  margin-bottom: 0px;
}

.underline {
  text-decoration: underline;
}

#tsparticles {
  position: absolute;
  right: -80px;
  top: 12%;
}

.video-banner {
  min-height: 900px;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  background: lightgray;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}

.video-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -3;
}

footer {
  padding: 40px 0px;
  background: #212121;
  -ms-grid-columns: 1fr 1fr 40px 2fr;
      grid-template-columns: 1fr 1fr 40px 2fr;
  -ms-grid-rows: 100px 200px 100px;
      grid-template-rows: 100px 200px 100px;
}

footer .footer-copyright {
  color: white;
  font-size: 12px;
}

footer .site-logo {
  text-align: left;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

footer ul {
  margin-bottom: 0px;
}

footer ul li {
  font-size: 14px;
  margin: 0px 8px;
  display: inline-block;
}

@-webkit-keyframes rotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes rotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media only screen and (max-width: 600px) {
  .main-bar h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h5 {
    font-size: 14px;
    padding: 0rem;
  }
  section, .profile-section {
    padding: 0rem;
  }
  .justify-xs-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .justify-xs-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 960px) {
  section, .profile-section {
    padding: 0rem;
  }
}

@media only screen and (max-width: 1280px) {
  section, .profile-section {
    padding: 4rem 1rem;
  }
}
/*# sourceMappingURL=global.css.map */