@import './utilities';
@import './swiper';
@import './icons';
@import './faq';
@import '~swiper/components/pagination/pagination.scss';

::-webkit-scrollbar {
	display: none;
}

$primary-color: #dad7cd;
$heading-color: #333;
$secondary-color: #dad7cd;
$background-color:#f4f4f4 ;
$footer-color: #212121;
$h4-color: #aa87bb;

$section-color: rgba(255,255,255,1);
$section-alt-color: rgba(255,255,255,1);
$section-title-color:	#212121;
$section-subtitle-color: #175853;

$link-color: white;

html {
	min-height: 100vh;
	overflow-x: hidden;
	background-color:$background-color;
}

body {
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	color: $heading-color;
	margin: 0;
	font-family: 'Overpass';
	font-weight: 500;
	letter-spacing: 1px;
}
h1 {
	text-align: center;
	font-weight: 700;
	font-size: 48px;
}

h2 {
	color: $section-title-color;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-size: 48px;
	margin-left: -5px;
	letter-spacing: 5px;
}

h3 {
	bottom: 10px;
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 24px;
	text-transform: uppercase;
	color: $section-title-color;
}

h4 {
	text-align: center;
	color: $h4-color;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}

h5 {
	font-family: 'Roboto';
	opacity: 0.5;
	font-weight: 500;
	margin-bottom: 0.75rem;
	color: white;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
}

p {
	margin: 0;
	color: #333;
	font-family: 'Roboto';
}

.subtext {
	margin-top: 4rem;
	text-align: center;
	font-size: .80em;
	color: rgba(0,0,0,0.4);

	span {
		font-size: 14px;
	}
}

a {
	color: $link-color;
	text-shadow: none;
	text-decoration: none;
	background-image: none;
}

iframe {
	margin-bottom: 0px;
}
nav p {
	margin-bottom: 20px;
}
ul {
	margin-left: 0px;
}

.main-bar {
	background-size: 300% 300% !important;
	background: #136a8a;
	background: -webkit-linear-gradient(to right, #136a8a, #743294);
	background: linear-gradient(to right, #136a8a, #743294); 
	background-position: 0% 0%;
	color: white;
	position: relative;
	display: block;
	margin-bottom: -16px;
	border-bottom: 5px solid rgba(255,255,255,0.2);
	animation-name: rotate;
	animation-duration: 8s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 

	h1 {
		color: white;
		font-weight: 700;
		margin-bottom: -0.5rem;
		text-align: left;
		text-transform: uppercase;
		display: block;
		font-size: 72px;
		letter-spacing: 5px;
		text-shadow: 1px 1px 4px #444;
	}
}

section {
	position: relative;
	background: $section-color;
	border-radius: 5px;
	z-index: 1;
	padding: 4rem 1rem;
	min-height: 90vh;
	min-height: 600px;
	max-width: 1440px;
	margin: 0 auto;
	margin-bottom: 3rem;
	overflow-x: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	.section-title {
		h1 {
			text-align: center;
			margin-right: 12px;
		}
		p {
			opacity: 0.8;
		}
	}
}

.profile-section {
	@extend section;
	margin-top: 0px;
	min-height: 100px;
	padding: 2rem 0rem;
	overflow: visible;
	background: none;
	margin-bottom: 0px;
    box-shadow: none;

	.profile-img {
		border-radius: 50px;
		overflow: visible;
		z-index: 100;

		img {
			background: rgba(255,255,255,0.2);
			border-radius: 10px;
			padding: 2px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			float: left;
			width: 150px;
			max-width: 100%;
			margin: 20px 20px 20px 0px;
		    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
        }
	}

	.section-title h1, h2, h3, h4, h5 {
		text-align: left;
	}

	p {
		text-align: center;
	}
}

nav {
	display: inline;
	color: white;

	ul {
		margin-bottom: 0px;
		li {
			display: inline-block;
			font-weight: 700;
			color: white;
			font-size: 16px;
			width: 120px;
			margin-bottom: 0px;
		}
	}
}

.underline {
	text-decoration: underline;
}

#tsparticles {
	position: absolute;
	right: -80px;
	top: 12%;
}

.video-banner {
	min-height: 900px;
	height: 100vh;
	max-height: 100vh;
	position: relative;
	background: lightgray;
	background: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -4;
}

.video-banner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;
	z-index: -3;
}

footer {
	padding: 40px 0px;
	background: $footer-color;
	grid-template-columns: 1fr 1fr 40px 2fr;
	grid-template-rows: 100px 200px 100px;

	.footer-copyright {
		color:white;
		font-size: 12px;
	}

	.site-logo {
		text-align: left;
		width: 50px;
		display: inline-block;
		margin-right: 10px;
	}

	ul {
		margin-bottom: 0px;
	}

	ul li {
		font-size: 14px;
		margin: 0px 8px;
		display: inline-block;
	}
}

@-webkit-keyframes rotate {
	0% { background-position: 0% 0%; }
	50% {  background-position: 100% 100%; }
	100% { background-position: 0% 0%; }
}

@-moz-keyframes rotate {
	0% { background-position: 0% 0%; }
	50% {  background-position: 100% 100%; }
	100% { background-position: 0% 0%; }
}


//small
@media only screen and (max-width: 600px) {
    .main-bar h1 {
        font-size: 52px;
    }
	h2 {
		font-size: 28px;
	}
	h5 {
		font-size: 14px;
		padding: 0rem;
	}
	section {
		padding: 0rem;
	}
	.justify-xs-start {
		justify-content: start;
	}
	.justify-xs-center {
		justify-content: center;
	}
}

//md
@media only screen and (max-width: 960px) {
	section {
	padding: 0rem;
	}
}

//lg
@media only screen and (max-width: 1280px) {
	section {
	padding: 4rem 1rem;
	}
}

//xl
@media only screen and (max-width: 1920px) {

}
