$icons-color: rgba(255,255,255,0.8);
$icons-hover-color: white;

.company-logo {
	max-width: 200px;
	max-height: 100px;
}
.invert {
	filter: invert(1);
}

.icon-flickr {
	color: linear-gradient(to right, #eaee44, #eaee44 50%, #33d0ff 100%);
}
.io-icon,
.si-icon,
.im-icon,
.gi-icon,
.si-icon {
	color: $icons-color;
	font-size: 36px;
	margin: 5px 10px;

	&:hover {
	color: $icons-hover-color;
	}
	&:first-of-type {
	// margin-left: 0px;
	}
}

.main-icon {
	color: white;
	border-radius: 5px;
	font-size: 30px;
	padding: 5px;
	background: #59598e;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	cursor: pointer;
	transition: all 0.2s ease;
	z-index: 10;
	
	&:hover {
		background: #a4a4c6;
		transform: translateY(-2px);
	}
}

.photoshop-icon {
	color: #4fccfe;
}
.xd-icon {
	color: purple;
}
.ai-icon {
	color: orange;
}
.nikon-icon {
	max-width: 120px;
}

.g-red {
	color: #bb001b;
}

.li-blue {
	color: #2867b2;
}

.fb-blue {
	color: #3b5998;
}

.ig-pink {
	color: #c13584;
}

.github-purple {
	color: #6e5494;
}

.footer-icon {
	font-size: 24px;
}
