:root {
  --dual-shadow: 20px 20px 20px rgb(186 84 211 / 20%), -10px -10px 30px rgb(0 100 255 / 20%);
}

.swiper-container {
  overflow: visible !important;
  margin: 20px 0px;
}

.swiper-wrapper {
  padding: 20px 0px;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.swiper-slide {
  position: relative;
  -webkit-transition: 250ms all;
  transition: 250ms all;
  overflow: visible;
}

.swiper-slide .zoom-container {
  -webkit-transition: 150ms all;
  transition: 150ms all;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.swiper-slide .zoom-container p {
  pointer-events: none;
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.swiper-slide:hover .zoom-container {
  -webkit-box-shadow: var(--dual-shadow);
          box-shadow: var(--dual-shadow);
}

.swiper-slide:hover .zoom-container p {
  opacity: 1;
}

.swiper-slide:hover img {
  -webkit-filter: brightness(0.5) blur(3px);
          filter: brightness(0.5) blur(3px);
}

.swiper-slide:hover iframe {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.swiper-slide:hover h3 {
  opacity: 1;
}

.swiper-slide:hover .logo {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-slide img {
  position: relative;
  max-width: 100%;
  z-index: 1;
  margin-bottom: -10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.swiper-slide img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.swiper-slide iframe {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-slide h3 {
  z-index: 4;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  color: #606e7a;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  text-transform: capitalize;
}

.swiper-slide h3 .position {
  margin-left: 5px;
  color: #aaa;
  font-size: 75%;
}

.swiper-slide h4 {
  font-size: 18px;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  letter-spacing: 0px;
  text-transform: capitalize;
  font-weight: 400;
}

.swiper-slide p {
  text-align: center;
}

.swiper-pagination-bullet {
  background: #87aabb !important;
  opacity: 0.3;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -32px !important;
  z-index: 9;
}
/*# sourceMappingURL=swiper.css.map */